@font-face {
  font-family: "Messina Sans Mono";
  src: url("./assets/fonts/MessinaSans/MessinaSansMono-SemiBold.woff");
}

@font-face {
  font-family: "Messina Sans Mono regular";
  src: url("./assets/fonts/MessinaSans/MessinaSansMono-Regular.woff");
}

@font-face {
  font-family: "Biro Script Plus";
  src: url("./assets/fonts/BiroScriptPlus/BiroScriptPlus-Bold.woff");
}

@font-face {
  font-family: "Right Grotesk";
  src: url("./assets/fonts/RightGrotesk/RightGrotesk-CompactBlack.otf");
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px 0 40px 0;
  overflow: hidden;
}

:root {
  background: #181818;
  width: 100%;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
}

ul {
  list-style: none;
  padding: 0;
}

h2,
h3,
p {
  margin: 0;
  width: fit-content;
}

a {
  text-decoration: none;
}

p {
  font-family: "Messina Sans Mono", monospace;
}

input {
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}


@media (max-width: 1279px) {
  section {
    width: 736px;
  }
}


@media (max-width: 767px) {
  section {
    width: 344px;
  }
}